__pycache__
.cursor/
build/
mseed/
log/
phasenet/test_data
site/
output*/
result/
*.pyc
*.png
*.egg-info
*.ipynb_checkpoints
._.DS_Store
.DS_Stores
test_data
dataset_indonesia/waveform/
dataset_indonesia/npz/
dataset_indonesia/npz_padded/
.cursorignore
dataset_indonesia/dataset_indonesia_eqt_format/
dataset_indonesia_eqt_full_sample/
datasets/
training_scripts/
